<%- include("../../partials/header.ejs") %>

    <body>
        <%- include("../../partials/navbar.ejs") %>
            <div class="container">
                <div id="espaco">
                    <h2>Usuario</h2>
                    <a class="btn btn-success" href="/admin/users/create">Criar nova usuario</a>
                    <hr>
                    <table class="table table-bordered">
                        <thead>
                            <th>Id</th>
                            <th>Email</th>
                            <th>Ações</th>
                        </thead>
                        <tbody>
                            <% users.forEach(user=> { %>
                                <tr>
                                    <th>
                                        <%= user.id %>
                                    </th>
                                    <th>
                                        <%= user.email %>
                                    </th>
                                    <th>
                                        <a href="/admin/users/edit/<%= user.id %>" class="btn btn-warning">Editar</a>

                                        <form action="/users/delete" method="POST" style="display: inline;"
                                            onsubmit="confirmarDelecao(event, this)">
                                            <input type="hidden" name="id" value="<%= user.id %>">
                                            <button class="btn btn-danger">Deletar</button>
                                        </form>
                                    </th>
                                </tr>
                                <% }) %>
                        </tbody>
                    </table>
                </div>
            </div>
    </body>
    <%- include("../../partials/footer.ejs") %>
        <script>
            function confirmarDelecao(event, form) {
                event.preventDefault();
                var decision = confirm("Você quer deletar esta categoria?")
                if (decision) {
                    form.submit();
                }
            }
        </script>